@if (showButton) {
<div class="my-2">
</div>
<table class="table table-lg">
  <tbody>
    <tr>
      <td>
        <strong>Comment</strong>
        <hr />
        <textarea #reviewBox matInput placeholder="Insert review" rows="10" [value]="commentText"></textarea>
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <button [ngClass]="{ wishlisted: toggle, 'not-wishlisted': !toggle }"
                mat-raised-button
                (click)="toggleValue(reviewBox.value)">
          {{ buttonText }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
  } @else {
<table class="table table-lg">
  <tbody>
    <tr>
      <td><strong>Comment</strong></td>
      <td>{{ commentText }}</td>
    </tr>
  </tbody>
</table>
<span (click)="toggleValue('')" [ngClass]="{'favourite-selected': toggle,'favourite-unselected': !toggle}" class="material-icons">
  favorite
</span>
  }
